body {
  background: #111;
  color: white;
  font-family: Arial;
}

.center {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

nav a {
  color: #00aaff;
  margin-right: 15px;
  text-decoration: none;
}

img {
  max-width: 100%;
  margin: 10px 0;
}
